#closeondesktop {
  display: none;
}
#openonmobile {
  display: none;
}
.rhap_container,
.rhap_main,
.sc-iTONeN,
.crBwCs {
  background: transparent;
  border: none;
}
.rhap_container,
.rhap_container *:focus {
  outline: none;
  border: none;
}
.rhap_volume-button {
  color: #fff;
}
.rhap_progress-filled {
  background-color: #facd66;
}
.rhap_download-progress {
  background-color: rgba(255, 255, 255, 0.04);
}
.rhap_repeat-button {
  color: #fff;
  margin: 0 0 0 auto;
}
.rhap_play-pause-button {
  color: #facd66;
  margin: 0 0 0 20px;
}
.rhap_skip-button {
  margin: 0 0 0 20px;
}
.rhap_volume-bar {
  background-color: #facd66;
}
.rhap_volume-indicator,
.rhap_progress-indicator,
.rhap_current-time {
  background-color: #fff;
}

@media screen and (max-width: 830px) {
  .rhap_container{
    height: 80px!important
  }
  .rhap_repeat-button,
  .rhap_volume-button,
  .rhap_volume-bar,
  .rhap_volume-indicator,
  /* .rhap_progress-indicator, */
  .rhap_current-time {
    display: none;
  }
  .rhap_play-pause-button {
    margin: 0 20px;
  }
  .rhap_skip-button {
    margin: 0;
  }
  .rhap_progress-container {
    margin: 10px 0 0 -180px !important;
    width: 372px;
    /* margin: 0; */
  }
  .rhap_main-controls {
    margin: 0 0 0 -40px !important;
  }
  /* .rhap_volume-button {
    margin: 80px 0 0 -120px;
  }
  .rhap_volume-bar {
    margin: 80px 0 0 10px;
    width: 230px;
  } */
}
